/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
	scroll-behavior: smooth;
  }

  * {
	box-sizing: border-box;
  }
  
  body {
	font-family: "Open Sans", sans-serif;
	background: #e2e6ef;
	color: #444444;
  }
  
  a {
	color: black;
	text-decoration: none;
	margin: 0;
  }
  
  a:hover {
	color: #1a2ee5;
	text-decoration: none;
  }

  p {
	font-size: 14px;
	padding: 2px 2px;
	margin: 0;
  }

  small {
	float: right;
	font-size: 10px;
	color: grey;
  }

  h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "Nunito", sans-serif;
  }

  /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
  #main {
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
  }
  @media (max-width: 1199px) {
	#main {
	  padding: 20px;
	}
  }
  
  /*--------------------------------------------------------------
  # Page Title
  --------------------------------------------------------------*/
  .pagetitle {
	margin-bottom: 10px;
  }
  .pagetitle h1 {
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 600;
	color: #012970;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background: #4154f1;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
  }
  .back-to-top i {
	font-size: 24px;
	color: #fff;
	line-height: 0;
  }
  .back-to-top:hover {
	background: #6776f4;
	color: #fff;
  }
  .back-to-top.active {
	visibility: visible;
	opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Override some default Bootstrap stylings
  --------------------------------------------------------------*/
  
  /* Card */
  .card {
	padding-top: 0;
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
	background-color: rgba(255, 255, 255, 0.3);
  }
  
  .card-header, .card-footer {
	border-color: #ebeef4;
	background-color: #fff;
	color: #798eb3;
	padding: 15px;
  }
  
  .card-title {
	padding: 20px 0 15px 0;
	font-size: 18px;
	font-weight: 500;
	color: #012970;
	font-family: "Poppins", sans-serif;
  }
  .card-title span {
	color: #899bbd;
	font-size: 14px;
	font-weight: 400;
  }
  .card-body {
	padding: 0 20px 20px 20px;
  }
  
  .card-img-overlay {
	background-color: rgba(255, 255, 255, 0.6);
  }
  
  /* Alerts */
  .alert-heading {
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
  }

  /*--------------------------------------------------------------
  # Photobox
  --------------------------------------------------------------*/
  /*
  .responsive {
	padding: 0;
	float: left;
	width: 24.99999%;
  }*/
  
  .col-md-3 .card {
	transition: 0.5s;
  }

  .col-md-3 .card:hover {
	background-color: white;
	z-index: 1;
	transform: scale(1.25);
	box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  }
  
  /*
  .gallery .box .boximg img {
	width: 100%;
	height: auto;
	object-fit: cover;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }*/
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  .header {
	transition: all 0.5s;
	z-index: 997;
	height: 60px;
	box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
	background-color: #fff;
	padding-left: 20px;
	/* Toggle Sidebar Button */
	/* Search Bar */
  }